<h2>Books by <%= author %></h2>

<% if books_by_author.count != 0 %>
  <div id="titles">
    <% books_by_author.each do |book| %>
      <div class="title">
        <h2><%= book.title %></h2>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no books by this author.</p>
<% end %>